PORT=3000
# Backend API URL examples
REACT_APP_API_URL=http://localhost:5000/api
# VITE_API_URL=http://localhost:5000/api
REACT_APP_CLOUDINARY_CLOUD_NAME=name
REACT_APP_CLOUDINARY_UPLOAD_PRESET=preset